article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
body {
    background-color: rgb(237, 239, 242);
    font-family: Jura, "Open Sans", sans-serif;
    color: rgb(106, 133, 156);
    font-size: 16px;
    line-height: 20px;
}
h1 {
    margin-top: 0px;
    text-transform: uppercase;
}
h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(103, 103, 112);
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 7px;
    text-transform: uppercase;
}
.navigation-bar {
    background-color: white;
}
.w-nav {
    position: relative;
    background: #dddddd;
    z-index: 1000;
}
p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
}
.hero-heading {
    margin-bottom: 30px;
    color: white;
    font-size: 60px;
    line-height: 60px;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.hero-section.centered {
    padding-top: 195px;
    padding-bottom: 195px;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: rgb(105, 185, 255);
    /*background-image: linear-gradient(rgba(46, 157, 255, 0.5), rgba(46, 157, 255, 0.22)), url();*/
    background-size: auto, cover;
    text-align: center;
    background-position: 0% 0%, 50% 50%;
}
.hero-subheading {
    margin-bottom: 40px;
    color: rgb(46, 157, 255);
    font-size: 25px;
    line-height: 25px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}
.section {
    position: relative;
    padding-top: 80px;
    padding-right: 10px;
    padding-bottom: 80px;
    padding-left: 10px;
    background-color: white;
    text-align: center;
}
.section-title-group {
    margin-bottom: 60px;
}
.section-heading {
    margin-top: 0px;
    margin-bottom: 16px;
}
.section-heading.centered {
    color: rgb(103, 103, 112);
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.w-container .w-row {
    margin-left: -10px;
    margin-right: -10px;
}
.w-col-4 {
    width: 33.33333333%;
}
.w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
.white-box {
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(220, 235, 247);
    border-radius: 5px;
    text-align: center;
}
.footer {
    padding-top: 35px;
    padding-bottom: 35px;
}
